
// Core

.theme-chameleon-syntax.theme-one-dark-ui {
  // atom-workspace
  background-color: var(--bg-4);

atom-panel.tool-panel {
  color: var(--fg-3);
  background-color: var(--bg-4);
}

atom-text-editor[mini] {
  color: var(--fg-3);
  background-color: var(--bg-5);

  &.is-focused{
    border-color: var(--ac-2);
    box-shadow: 0 0 0 1px var(--ac-2);
    background-color: var(--ac-5);

    &::shadow {
      .placeholder-text {
        color: var(--ac-4);
      }
      .selection .region {
        background-color: var(--ac-4);
      }
    }
  }

  &::shadow {
    .cursor {
      border-color: var(--ac-2);
    }
    .placeholder-text {
      color: var(--fg-5);
    }
    .selection .region {
      background-color: var(--bg-4);
    }
  }
}


} // end of theme selector
