@import "colors";

// Custom settings
.theme-chameleon-syntax .settings-view {

  [id="chameleon-syntax.color.bg"],
  [id="chameleon-syntax.color.fg"],
  [id="chameleon-syntax.color.ac"] {
    width: 2.75em;
    margin-left: -3.5em;
    position: absolute;
    height: 4em;
    border-radius: 4em;
    &::-webkit-color-swatch {
      border-radius: inherit;
    }
    &:hover {
      border-color: hsla(0,0%,100%,.2);;
    }
    &:active {
      border-color: hsla(0,0%,100%,0);;
    }
  }

  [id="chameleon-syntax.color.bg"]:after {
    content: "";
    position: absolute;
    top: 0;
    left: -1.5em;
    width: 6px;
    height: 14em;
    border-radius: 1em;

    background-image: linear-gradient(to bottom,
      var(--bg-1) 6.6%,
      var(--bg-2) 6.6%,  var(--bg-2) 13.3%,
      var(--bg-3) 13.3%, var(--bg-3) 20%,
      var(--bg-4) 20%,   var(--bg-4) 26.6%,
      var(--bg-5) 26.6%, var(--bg-5) 33.3%,
      var(--fg-1) 33.3%, var(--fg-1) 40%,
      var(--fg-2) 40%,   var(--fg-2) 46.6%,
      var(--fg-3) 46.6%, var(--fg-3) 53.3%,
      var(--fg-4) 53.3%, var(--fg-4) 60%,
      var(--fg-5) 60%,   var(--fg-5) 66.6%,
      var(--ac-1) 66.6%, var(--ac-1) 73.3%,
      var(--ac-2) 73.3%, var(--ac-2) 80%,
      var(--ac-3) 80%,   var(--ac-3) 86.6%,
      var(--ac-4) 86.6%, var(--ac-4) 93.3%,
      var(--ac-5) 93.3%
    );

    // background-image: linear-gradient(to bottom,
    //   var(--fg-1) 12.5%,
    //   var(--fg-2) 12.5%, var(--fg-2) 25%,
    //   var(--fg-3) 25%,   var(--fg-3) 37.5%,
    //   var(--fg-4) 37.5%, var(--fg-4) 50%,
    //   var(--fg-5) 50%,   var(--fg-5) 62.5%,
    //   var(--ac-1) 62.5%, var(--ac-1) 75%,
    //   var(--ac-2) 75%,   var(--ac-2) 87.5%,
    //   var(--ac-3) 87.5%
    // );
  }

}
